# Folders
.vs/
bin/
obj/
.vscode/
[Bb]uild/
[Bb]uild_[Rr]elease/
[Bb]uild_[Dd]ebug/
Goknar/Build/

# Files
*.sln
*.user
*.vcxproj
*.filters
*.glsl
*.frag
*.vert
GameProject/Goknar.dll
# Goknar/thirdparty/spdlog
# Goknar/thirdparty/imgui
# Goknar/thirdparty/GLFW
