[submodule "GameEngine/outsourced/spdlog"]
	path = GameEngine/outsourced/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngine/outsourced/GLFW"]
	path = GameEngine/outsourced/GLFW
	url = https://www.github.com/glfw/glfw
