[submodule "Goknar/thirdparty/spdlog"]
	path = Goknar/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Goknar/thirdparty/GLFW/GLFW"]
	path = Goknar/thirdparty/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "Goknar/thirdparty/imgui/imgui"]
	path = Goknar/thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui
