[submodule "Goknar/outsourced/spdlog"]
	path = Goknar/outsourced/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Goknar/outsourced/GLFW/GLFW"]
	path = Goknar/outsourced/GLFW/GLFW
	url = https://github.com/glfw/glfw
[submodule "Goknar/outsourced/imgui/imgui"]
	path = Goknar/outsourced/imgui/imgui
	url = https://github.com/ocornut/imgui
