# Folders
.vs/
bin/
obj/
.vscode/
Build/
Goknar/Build/

# Files
*.sln
*.user
*.vcxproj
*.filters
GameProject/Goknar.dll
Goknar/thirdparty/spdlog
Goknar/thirdparty/imgui/imgui
Goknar/thirdparty/GLFW/GLFW
